---
import ProjectCard from './Card'
import { localizePath } from 'astro-i18next'
import Markdown from '../Markdown'
import { t } from 'i18next'
const projects = t('projects', {
    ns: 'pages.projects',
    returnObjects: true,
}) as Record<'title' | 'desc' | 'slug' | 'img' | 'alt', string>[]
const slugs = t('featured.projects', {
    ns: 'pages.projects',
    returnObjects: true,
}) as string[]
const featuredProjects = projects.filter(({ slug }) => slugs.includes(slug))
const firstProjects = featuredProjects.slice(0, 2)
const lastProjects = featuredProjects.slice(-3)
---

<div class="custom-container flex flex-col gap-16 py-24 px-4">
    <div>
        <h2 class="text-center text-2xl font-light sm:text-left sm:text-4xl">
            <Markdown source={t('featured.title', { ns: 'pages.projects' })} />
        </h2>
        <p
            class="mx-auto mt-8 max-w-lg text-sm font-medium sm:ml-0 sm:text-base"
        >
            <Markdown
                source={t('featured.description', { ns: 'pages.projects' })}
            />
        </p>
    </div>
    <div>
        <div class="grid gap-16 md:grid-cols-2">
            {
                firstProjects.map((project: any) => (
                    <ProjectCard
                        client:visible
                        {...project}
                        variant="medium"
                        localizedRootUrl={localizePath('/projects')}
                    />
                ))
            }
        </div>
        <div class="mt-16 grid gap-16 md:grid-cols-2 lg:grid-cols-3">
            {
                lastProjects.map((project: any) => (
                    <ProjectCard
                        client:visible
                        {...project}
                        variant="small"
                        localizedRootUrl={localizePath('/projects')}
                    />
                ))
            }
        </div>
    </div>
</div>
