---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
  project: CollectionEntry<"experiences" | "projects">;
}

const { project } = Astro.props;
const { data } = project;
const { Content } = await project.render();
---

<div class="">
  <div class="relative bg-bg border border-border aspect-video">
    <Image {...data.image} class="object-cover object-center" width={576} />
    <div
      class="absolute top-0 bg-bg-subtle px-2 py-1 text-sm flex items-center justify-between border-r border-b border-border"
    >
      <div>{data.date}</div>
    </div>
    <div class="bg-bg-subtle p-2 border-t border-border">
      <div class="flex items-center justify-between">
        <div class="text-text">{data.title}</div>
        <div class="flex items-center justify-center space-x-2 text-sm">
          {
            data.links.map(({ href, text }) => (
              <a
                {href}
                target="_blank"
                class="underline hover:text-text transition-colors"
              >
                {text}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div class="text-sm mt-1">
    <Content />
  </div>
</div>
