---
import MDXComponents from '~/components/mdx/MDXComponents'
import ContentLayout from '~/layouts/Content.astro'
import i18next, { changeLanguage } from 'i18next'

changeLanguage('en')

const MdxFile = await import(
    `../../content/${i18next.language}/legal/legal-notices.mdx`
)
const { Content, frontmatter } = MdxFile
---

<ContentLayout
    head={{
        title: frontmatter.title,
        description: frontmatter.description,
        image: {
            url: '/images/og-image.jpg',
            alt: frontmatter.description,
        },
    }}
>
    <div class="prose prose-sm mx-auto px-4 py-24 sm:prose-base lg:prose-lg">
        <h1>{frontmatter.title}</h1>
        <p class="lead">{frontmatter.description}</p>
        <Content components={MDXComponents} />
    </div>
</ContentLayout>
