---
import Section from "~/components/Section.astro";
import SectionTitle from "~/components/SectionTitle.astro";
---

<Section>
  <SectionTitle>About</SectionTitle>
  <p class="mt-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, modi. Quis,
    velit voluptatibus? Itaque voluptas expedita aperiam sunt atque corporis.
    Voluptatibus minus provident incidunt alias!
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt a temporibus
    laboriosam quos eius molestiae!
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptates
    perferendis soluta, nisi facilis minima eveniet in possimus aliquid
    sapiente.
  </p>
  <div class="bg-bg-subtle border border-border aspect-video mt-10"></div>
  <div class="mt-2 text-sm">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
</Section>
