---
import Section from "~/components/Section";
import AvailabilityIndicator from "~/pages/_components/partials/AvailabilityIndicator.astro";
import SocialLinks from "~/pages/_components/partials/SocialLinks.astro";

const id = "contact";
---

<Section {id} class="pb-0">
  <div class="flex items-center justify-between">
    <Section.Title {id}>Contact</Section.Title>
    <AvailabilityIndicator />
  </div>
  <p class="mt-4">
    Feel free to reach out if you're looking for a developer, have a question or
    just want to connect. I may be able to take new missions depending on my
    availability (top-right indicator).
  </p>
  <a
    href="mailto:contact@florian-lefebvre.dev"
    class="mt-4 block underline transition-colors hover:text-text"
    >contact@florian-lefebvre.dev</a
  >
  <div class="mt-4">
    <SocialLinks />
  </div>
</Section>
