---
import { getCollection } from "astro:content";
import Section from "~/components/Section.astro";
import SectionTitle from "~/components/SectionTitle.astro";
import ProjectCard from "~/pages/_components/partials/ProjectCard.astro";

const experiences = await getCollection("experiences");

const id = "experiences";
---

<Section {id}>
  <SectionTitle {id}>Experiences</SectionTitle>
  <div class="grid grid-cols-1 mt-4 gap-8">
    {experiences.map((project) => <ProjectCard {project} />)}
  </div>
</Section>
