---
import { getCollection } from "astro:content";
import Section from "~/components/Section";
import ProjectCard from "~/pages/_components/partials/ProjectCard.astro";

const experiences = (await getCollection("experiences")).reverse();

const id = "experiences";
---

<Section {id}>
  <Section.Title {id}>Experiences</Section.Title>
  <div class="grid grid-cols-1 mt-4 gap-10">
    {experiences.map((project) => <ProjectCard {project} />)}
  </div>
</Section>
