---
import { Image } from "astro:assets";
import image from "~/assets/profile-picture.png";
import Section from "~/components/Section";
import AvailabilityIndicator from "~/pages/_components/partials/AvailabilityIndicator.astro";
import SocialLinks from "./partials/SocialLinks.astro";
---

<Section class="pt-8">
  <div class="flex space-x-4">
    <Image
      src={image}
      alt="Profile picture of Florian Lefebvre"
      class="h-32 w-32 rounded-full bg-bg-subtle border border-border shrink-0"
      loading="eager"
      width={128}
    />
    <div>
      <h1 class="text-2xl mb-2 font-semibold text-text">Florian Lefebvre</h1>
      <p>
        Fullstack developer. Freelancer. Open-Source lover. French. <span
          id="hero-time"
          class="bg-bg-subtle border border-border px-1 py-0.5 tabular-nums select-none"
        ></span> Central European Time.
      </p>
      <div class="mt-4 flex space-x-2 items-center justify-between">
        <SocialLinks />
        <AvailabilityIndicator />
      </div>
    </div>
  </div>
  <script is:inline>
    window.__handleTime ??= () => {
      const updateTime = () => {
        const today = new Date();
        const formatter = new Intl.DateTimeFormat("en-US", {
          timeZone: "CET",
          hour12: false, // 24-hour format
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
        });

        // Format the date using the formatter
        const timeInTimeZone = formatter.format(today);

        document.getElementById("hero-time").innerText = timeInTimeZone;
      };

      updateTime();
      return setInterval(() => {
        updateTime();
      }, 1000);
    };

    window.__handleTimeId = window.__handleTime();
    document.addEventListener("astro:after-swap", () => {
      if (window.__handleTimeId) {
        clearInterval(window.__handleTimeId);
      }

      window.__handleTimeId = undefined;
    });
  </script>
</Section>
