---
import { getCollection } from "astro:content";
import Button from "~/components/Button.astro";
import Section from "~/components/Section";
import ArticleCard from "~/components/ArticleCard.astro";

const article = (await getCollection("posts"))
  .sort((a, b) => (+a.data.date < +b.data.date ? 1 : -1))[0];

const id = "latest-article";
---

<Section {id}>
  <div class="flex justify-between items-center mb-4">
    <Section.Title {id}>Latest article</Section.Title>
    <Button href="/blog">View all</Button>
  </div>
  <ArticleCard {article} preloadImage />
</Section>
