---
import { getCollection } from "astro:content";
import Button from "~/components/Button.astro";
import Section from "~/components/Section.astro";
import SectionTitle from "~/components/SectionTitle.astro";
import ArticleCard from "~/components/ArticleCard.astro";

const article = (await getCollection("posts")).sort((a, b) =>
  +a.data.date < +b.data.date ? 1 : 0
)[0];

const id = "latest-article";
---

<Section {id}>
  <div class="flex justify-between items-center mb-4">
    <SectionTitle {id}>Latest article</SectionTitle>
    <Button href="/blog">View all</Button>
  </div>
  <ArticleCard {article} />
</Section>
