---
import { getCollection } from "astro:content";
import Section from "~/components/Section";
import ProjectCard from "~/pages/_components/partials/ProjectCard.astro";

const projects = await getCollection("projects");

const id = "more-projects";
---

<Section {id}>
  <Section.Title {id}>More projects</Section.Title>
  <div class="grid grid-cols-1 mt-4 gap-10">
    {projects.map((project) => <ProjectCard {project} />)}
  </div>
</Section>
