---
import { getCollection } from "astro:content";
import Section from "~/components/Section.astro";
import SectionTitle from "~/components/SectionTitle.astro";
import ProjectCard from "~/pages/_components/partials/ProjectCard.astro";

const projects = await getCollection("projects");

const id = "more-projects";
---

<Section {id}>
  <SectionTitle {id}>More projects</SectionTitle>
  <div class="grid grid-cols-1 mt-4 gap-8">
    {projects.map((project) => <ProjectCard {project} />)}
  </div>
</Section>
