---
import Button from "~/components/Button.astro";
import Section from "~/components/Section";
import TechPill from "~/components/TechPill.astro";
import ServiceCard from "./partials/ServiceCard";

const id = "services";
const hourlyRate = 55;
---

<Section {id}>
  <div class="flex justify-between items-center">
    <Section.Title {id}>Services</Section.Title>
    <p class="text-text font-semibold text-lg">
      {
        new Intl.NumberFormat("en-US", {
          style: "currency",
          currency: "EUR",
          maximumSignificantDigits: 2,
        }).format(hourlyRate)
      }/hour
    </p>
  </div>
  <p class="mt-4">
    I'm a frontend specialist with good knowledge in backend, UI/UX, and DevOps.
    I'm dedicated to crafting seamless, efficient, and user-friendly solutions.
  </p>
  <div class="mt-4 grid grid-cols-1 gap-4">
    <ServiceCard>
      <ServiceCard.Title>Frontend</ServiceCard.Title>
      <ServiceCard.Description>
        I care about creating delightful interfaces, crafting pixel-perfect,
        responsive designs, paying attention to accessibility, and optimizing
        performance for an exceptional user experience.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="astro" />
        <TechPill id="react" />
        <TechPill id="vue" />
        <TechPill id="tailwind" />
        <TechPill id="nuxt" />
        <TechPill id="nextjs" />
        <TechPill id="typescript" />
        <TechPill id="xstate" />
      </ServiceCard.Techs>
    </ServiceCard>
    <ServiceCard>
      <div
        class="flex flex-col-reverse sm:flex-row gap-2 sm:gap-4 sm:justify-between sm:items-center items-start"
      >
        <ServiceCard.Title>Custom Astro Integrations</ServiceCard.Title>
        <div
          class="bg-text text-bg px-1.5 py-0.5 leading-5 align-middle inline-flex items-center text-sm font-semibold"
        >
          New!
        </div>
      </div>
      <ServiceCard.Description>
        Astro Integrations allow to hook into the build process, dev server, and
        more. As a maintainer of Astro and numerous integrations, I can help you
        create one tailored to your needs.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="astro" />
        <TechPill id="typescript" />
      </ServiceCard.Techs>
    </ServiceCard>
    <ServiceCard>
      <ServiceCard.Title>Backend & CMS</ServiceCard.Title>
      <ServiceCard.Description>
        I have a solid proficiency in backend development including SQL
        knowledge. I like to work with Git-backed headless CMSs to create
        scalable, personalized content architectures.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="nodejs" />
        <TechPill id="typescript" />
        <TechPill id="postgres" />
        <TechPill id="directus" />
        <TechPill id="tina" />
        <TechPill id="supabase" />
      </ServiceCard.Techs>
    </ServiceCard>
    <ServiceCard>
      <ServiceCard.Title>UI/UX</ServiceCard.Title>
      <ServiceCard.Description>
        I specialize in UI/UX, crafting efficient and intuitive interfaces that
        prioritize a seamless user experience, blending functionality with
        aesthetic appeal.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="figma" />
        <TechPill id="tailwind" />
      </ServiceCard.Techs>
    </ServiceCard>
    <ServiceCard>
      <ServiceCard.Title>DevOps</ServiceCard.Title>
      <ServiceCard.Description>
        I prioritize strong CI/CD workflows with GitHub Actions, set up previews
        on Vercel/Netlify, and create sharable dev environments with Docker
        Compose.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="docker" />
        <TechPill id="vercel" />
        <TechPill id="netlify" />
        <TechPill id="github" />
      </ServiceCard.Techs>
    </ServiceCard>
    <ServiceCard>
      <ServiceCard.Title>Cross-platform</ServiceCard.Title>
      <ServiceCard.Description>
        I can make cross-platform applications, seamlessly extending
        functionality across mobile, web, and desktop platforms for a unified
        user experience.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="capacitor" />
        <TechPill id="tauri" />
      </ServiceCard.Techs>
    </ServiceCard>
    <ServiceCard>
      <ServiceCard.Title>Good practices</ServiceCard.Title>
      <ServiceCard.Description>
        I advocate for establishing best practices from development to
        production, ensuring less bugs will reach production.
      </ServiceCard.Description>
      <ServiceCard.Techs>
        <TechPill id="typescript" />
        <TechPill id="prettier" />
        <TechPill id="eslint" />
        <TechPill id="biome" />
        <TechPill id="github" />
      </ServiceCard.Techs>
    </ServiceCard>
  </div>
  <p class="mt-8">
    If you're intrigued by what you've read and interested in collaboration,
    feel free to explore my contact details!
  </p>
  <Button href="/#contact" class="mt-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="h-4 w-4 mr-2"
      ><g
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        ><path d="M0 0h24v24H0z"></path><path
          fill="currentColor"
          d="M5.821 4.91c3.898-2.765 9.469-2.539 13.073.536c3.667 3.127 4.168 8.238 1.152 11.897c-2.842 3.447-7.965 4.583-12.231 2.805l-.232-.101l-4.375.931l-.075.013l-.11.009l-.113-.004l-.044-.005l-.11-.02l-.105-.034l-.1-.044l-.076-.042l-.108-.077l-.081-.074l-.073-.083l-.053-.075l-.065-.115l-.042-.106l-.031-.113l-.013-.075l-.009-.11l.004-.113l.005-.044l.02-.11l.022-.072l1.15-3.451l-.022-.036C.969 12.45 1.97 7.805 5.59 5.079l.23-.168z"
        ></path></g
      ></svg
    >
    <span>Contact</span>
  </Button>
</Section>
