---
import Button from "~/components/Button.astro";
import Section from "~/components/Section.astro";
import SectionTitle from "~/components/SectionTitle.astro";

const id = "services";
---

<Section {id}>
  <div class="flex justify-between items-center">
    <SectionTitle {id}>Services</SectionTitle>
    <p class="text-gray-50 font-semibold text-lg">
      {
        new Intl.NumberFormat("en-US", {
          style: "currency",
          currency: "EUR",
          maximumSignificantDigits: 2,
        }).format(50)
      }/hour
    </p>
  </div>
  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptates
    perferendis soluta, nisi facilis minima eveniet in possimus aliquid
    sapiente.
  </p>
  <div class="mt-4 grid grid-cols-2 gap-4">
    <div class="bg-bg-subtle border border-border h-48 col-span-2 py-2 px-3">
      <h3 class="text-lg font-semibold text-text">Frontend</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad accusamus
        velit, tempore deleniti quod perspiciatis!
      </p>
    </div>
    <div class="bg-bg-subtle border border-border h-48"></div>
    <div class="bg-bg-subtle border border-border h-48"></div>
    <div class="bg-bg-subtle border border-border h-48"></div>
    <div class="bg-bg-subtle border border-border h-48"></div>
  </div>
  <p class="mt-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt a temporibus
    laboriosam quos eius molestiae!
  </p>
  <Button href="/#contact" class="mt-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="h-4 w-4 mr-2"
      ><g
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        ><path d="M0 0h24v24H0z"></path><path
          fill="currentColor"
          d="M5.821 4.91c3.898-2.765 9.469-2.539 13.073.536c3.667 3.127 4.168 8.238 1.152 11.897c-2.842 3.447-7.965 4.583-12.231 2.805l-.232-.101l-4.375.931l-.075.013l-.11.009l-.113-.004l-.044-.005l-.11-.02l-.105-.034l-.1-.044l-.076-.042l-.108-.077l-.081-.074l-.073-.083l-.053-.075l-.065-.115l-.042-.106l-.031-.113l-.013-.075l-.009-.11l.004-.113l.005-.044l.02-.11l.022-.072l1.15-3.451l-.022-.036C.969 12.45 1.97 7.805 5.59 5.079l.23-.168z"
        ></path></g
      ></svg
    >
    <span>Contact</span>
  </Button>
</Section>
