---
import Section from "~/components/Section.astro";
import SectionTitle from "~/components/SectionTitle.astro";
---

<Section>
  <SectionTitle>Testimonials</SectionTitle>
  <div class="flex space-x-4 mt-8">
    <div
      class="h-20 w-20 rounded-full bg-bg-subtle border border-border shrink-0"
    >
    </div>
    <div>
      <h1 class="mb-1 font-semibold text-text">Lorem, ipsum.</h1>
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        perspiciatis repellat architecto! Expedita numquam atque fugit inventore
        dolore quidem, temporibus qui, commodi ipsum molestias maxime.
      </p>
    </div>
  </div>
  <div class="flex space-x-4 mt-8">
    <div
      class="h-20 w-20 rounded-full bg-bg-subtle border border-border shrink-0"
    >
    </div>
    <div>
      <h1 class="mb-1 font-semibold text-text">Lorem, ipsum.</h1>
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        perspiciatis repellat architecto! Expedita numquam atque fugit inventore
        dolore quidem, temporibus qui, commodi ipsum molestias maxime.
      </p>
    </div>
  </div>
  <div class="flex space-x-4 mt-8">
    <div
      class="h-20 w-20 rounded-full bg-bg-subtle border border-border shrink-0"
    >
    </div>
    <div>
      <h1 class="mb-1 font-semibold text-text">Lorem, ipsum.</h1>
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        perspiciatis repellat architecto! Expedita numquam atque fugit inventore
        dolore quidem, temporibus qui, commodi ipsum molestias maxime.
      </p>
    </div>
  </div>
  <div class="flex space-x-4 mt-8">
    <div
      class="h-20 w-20 rounded-full bg-bg-subtle border border-border shrink-0"
    >
    </div>
    <div>
      <h1 class="mb-1 font-semibold text-text">Lorem, ipsum.</h1>
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        perspiciatis repellat architecto! Expedita numquam atque fugit inventore
        dolore quidem, temporibus qui, commodi ipsum molestias maxime.
      </p>
    </div>
  </div>
</Section>
