:root {
  --color-bg: theme(colors.gray.50);
  --color-bg-subtle: theme(colors.gray.100);
  --color-border: theme(colors.gray.200);
  --color-text: theme(colors.gray.950);
  --color-text-subtle: theme(colors.gray.700);
  --color-primary-bg: theme(colors.blue.500);
  --color-primary-text: theme(colors.white);
  --color-primary-contrast: theme(colors.blue.600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: theme(colors.gray.900);
    --color-bg-subtle: theme(colors.gray.800);
    --color-border: theme(colors.gray.700);
    --color-text: theme(colors.gray.50);
    --color-text-subtle: theme(colors.gray.300);
    --color-primary-bg: theme(colors.blue.600);
    --color-primary-text: theme(colors.white);
    --color-primary-contrast: theme(colors.blue.400);
  }

  html {
    color-scheme: dark;
  }
}

.expressive-code pre {
  --code-background: var(--color-bg);
  @apply !border !border-border;
}

.expressive-code .frame {
  @apply !shadow-none;
}

.expressive-code .frame > .header {
  background: unset !important;
  @apply !bg-bg-subtle;
}

.expressive-code .frame > .header::before {
  @apply !border-border;
  border-width: 1px !important;
}

.expressive-code .has-title pre {
  border-top: 1px solid var(--color-border) !important;
}

.expressive-code .header .title::after {
  border-top-color: var(--color-primary-contrast) !important;
}

html {
  @apply selection:bg-blue-400/50 selection:dark:bg-blue-800/50 selection:text-text;
  @apply motion-safe:scroll-smooth;
}

img {
  @apply select-none;
}

/* Focusable elements */
a[href],
button,
input,
textarea,
select,
details,
[tabindex]:not([tabindex="-1"]) {
  @apply focus-visible:!outline-4 focus-visible:!outline-blue-300 focus-visible:![outline-style:solid] dark:focus-visible:!outline-blue-600;
}
