:root {
  --color-primary-light-1: 116, 50%, 98.9%;
  --color-primary-light-2: 120, 60%, 97.1%;
  --color-primary-light-3: 120, 53.6%, 94.8%;
  --color-primary-light-4: 121, 47.5%, 91.4%;
  --color-primary-light-5: 122, 42.6%, 86.5%;
  --color-primary-light-6: 124, 39%, 79.7%;
  --color-primary-light-7: 126, 37.1%, 70.2%;
  --color-primary-light-8: 131, 38.1%, 56.3%;
  --color-primary-light-9: 131, 41%, 46.5%;
  --color-primary-light-10: 132, 43.1%, 42.2%;
  --color-primary-light-11: 133, 50%, 32.5%;
  --color-primary-light-12: 130, 30%, 14.9%;
  --color-primary-dark-1: 146, 30%, 7.4%;
  --color-primary-dark-2: 136, 33.3%, 8.8%;
  --color-primary-dark-3: 137, 36%, 11.4%;
  --color-primary-dark-4: 137, 37.6%, 13.7%;
  --color-primary-dark-5: 136, 38.7%, 16%;
  --color-primary-dark-6: 135, 39.6%, 19.1%;
  --color-primary-dark-7: 134, 40.3%, 23.8%;
  --color-primary-dark-8: 131, 40.1%, 30.8%;
  --color-primary-dark-9: 131, 41%, 46.5%;
  --color-primary-dark-10: 131, 39%, 52.1%;
  --color-primary-dark-11: 131, 43%, 57.2%;
  --color-primary-dark-12: 137, 72%, 94%;
  --color-neutral-light-1: 155, 30%, 98.8%;
  --color-neutral-light-2: 150, 16.7%, 97.6%;
  --color-neutral-light-3: 151, 10.6%, 95.2%;
  --color-neutral-light-4: 151, 8.8%, 93%;
  --color-neutral-light-5: 151, 7.8%, 90.8%;
  --color-neutral-light-6: 152, 7.2%, 88.4%;
  --color-neutral-light-7: 153, 6.7%, 85.3%;
  --color-neutral-light-8: 154, 6.1%, 77.5%;
  --color-neutral-light-9: 155, 3.5%, 55.5%;
  --color-neutral-light-10: 154, 2.8%, 51.7%;
  --color-neutral-light-11: 155, 3%, 43%;
  --color-neutral-light-12: 155, 24%, 9%;
  --color-neutral-dark-1: 155, 7%, 8.4%;
  --color-neutral-dark-2: 150, 7.4%, 10.6%;
  --color-neutral-dark-3: 150, 6.7%, 13.1%;
  --color-neutral-dark-4: 150, 6.4%, 15.3%;
  --color-neutral-dark-5: 150, 6.1%, 17.4%;
  --color-neutral-dark-6: 150, 5.8%, 19.9%;
  --color-neutral-dark-7: 150, 5.5%, 23.6%;
  --color-neutral-dark-8: 150, 5.1%, 30.6%;
  --color-neutral-dark-9: 155, 6%, 42.5%;
  --color-neutral-dark-10: 153, 4.8%, 48.2%;
  --color-neutral-dark-11: 155, 5%, 61.8%;
  --color-neutral-dark-12: 155, 6%, 93%;
}

:root {
  --color-primary-auto-1: var(--color-primary-light-1);
  --color-primary-auto-2: var(--color-primary-light-2);
  --color-primary-auto-3: var(--color-primary-light-3);
  --color-primary-auto-4: var(--color-primary-light-4);
  --color-primary-auto-5: var(--color-primary-light-5);
  --color-primary-auto-6: var(--color-primary-light-6);
  --color-primary-auto-7: var(--color-primary-light-7);
  --color-primary-auto-8: var(--color-primary-light-8);
  --color-primary-auto-9: var(--color-primary-light-9);
  --color-primary-auto-10: var(--color-primary-light-10);
  --color-primary-auto-11: var(--color-primary-light-11);
  --color-primary-auto-12: var(--color-primary-light-12);
  --color-neutral-auto-1: var(--color-neutral-light-1);
  --color-neutral-auto-2: var(--color-neutral-light-2);
  --color-neutral-auto-3: var(--color-neutral-light-3);
  --color-neutral-auto-4: var(--color-neutral-light-4);
  --color-neutral-auto-5: var(--color-neutral-light-5);
  --color-neutral-auto-6: var(--color-neutral-light-6);
  --color-neutral-auto-7: var(--color-neutral-light-7);
  --color-neutral-auto-8: var(--color-neutral-light-8);
  --color-neutral-auto-9: var(--color-neutral-light-9);
  --color-neutral-auto-10: var(--color-neutral-light-10);
  --color-neutral-auto-11: var(--color-neutral-light-11);
  --color-neutral-auto-12: var(--color-neutral-light-12);
}

:root.dark {
  --color-primary-auto-1: var(--color-primary-dark-1);
  --color-primary-auto-2: var(--color-primary-dark-2);
  --color-primary-auto-3: var(--color-primary-dark-3);
  --color-primary-auto-4: var(--color-primary-dark-4);
  --color-primary-auto-5: var(--color-primary-dark-5);
  --color-primary-auto-6: var(--color-primary-dark-6);
  --color-primary-auto-7: var(--color-primary-dark-7);
  --color-primary-auto-8: var(--color-primary-dark-8);
  --color-primary-auto-9: var(--color-primary-dark-9);
  --color-primary-auto-10: var(--color-primary-dark-10);
  --color-primary-auto-11: var(--color-primary-dark-11);
  --color-primary-auto-12: var(--color-primary-dark-12);
  --color-neutral-auto-1: var(--color-neutral-dark-1);
  --color-neutral-auto-2: var(--color-neutral-dark-2);
  --color-neutral-auto-3: var(--color-neutral-dark-3);
  --color-neutral-auto-4: var(--color-neutral-dark-4);
  --color-neutral-auto-5: var(--color-neutral-dark-5);
  --color-neutral-auto-6: var(--color-neutral-dark-6);
  --color-neutral-auto-7: var(--color-neutral-dark-7);
  --color-neutral-auto-8: var(--color-neutral-dark-8);
  --color-neutral-auto-9: var(--color-neutral-dark-9);
  --color-neutral-auto-10: var(--color-neutral-dark-10);
  --color-neutral-auto-11: var(--color-neutral-dark-11);
  --color-neutral-auto-12: var(--color-neutral-dark-12);
}
