@import url('./colors.css');
@import url('./fonts.css');

.custom-container {
    @apply mx-auto max-w-6xl;
}

.dark {
    color-scheme: dark;
}

html {
    @apply scroll-smooth selection:bg-primary-7 selection:text-primary-12;
}

[id] {
    @apply -mt-20 pt-20;
}

.prose [id] {
    @apply pt-28;
}

strong {
    @apply font-bold;
}

.astro-code {
    @apply !bg-neutral-3;
}

.astro-code *[style='color:#DBD7CAEE'] {
    @apply !text-[#393A34] dark:!text-current;
}

.prose *:focus {
    @apply focus:outline-none focus:ring-3 focus:ring-primary-7;
}

main[tabindex='-1'] {
    outline: none;
}

.markdown-link a {
    @apply text-primary-9 underline hover:text-primary-10 focus:outline-none focus:ring-3 focus:ring-primary-7;
}

.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *)) {
    @apply my-0 inline-block bg-neutral-7 p-1 leading-[normal];
}

.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *))::before,
.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *))::after {
    content: '' !important;
}
