---
import '~/assets/css/main.css'
import Banner from '~/components/Layout/Banner.astro'
import ThemeTransition from '~/components/Layout/ThemeTransition'
import i18next from 'i18next'
import Footer from '~/components/Layout/Footer/Footer.astro'
import Header from '~/components/Layout/Header/Header.astro'
import BackToTop from '~/components/Layout/BackToTop'
---

<!DOCTYPE html>
<html lang={i18next.language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <slot name="head" />
        <script>
            console.log('Hi there!')
            console.log('What are you looking for?')
            console.log('Just have a look at the source code ;)')
            console.log(
                'https://github.com/florian-lefebvre/portfolio/tree/v5/astro'
            )
            console.log('Built with Astro and Tailwind CSS')
            console.log('--------')
        </script>
        <script>
            ;(function () {
                try {
                    let mode = localStorage.getItem('theme')
                    let supportDarkMode =
                        window.matchMedia('(prefers-color-scheme: dark)')
                            .matches === true
                    const html = document.querySelector('html')
                    if (!mode && supportDarkMode) html?.classList.add('dark')
                    if (!mode) return
                    if (mode === 'dark') {
                        html?.classList.add('dark')
                    }
                } catch (e) {}
            })()
        </script>
        {
            process.env.MODE === 'production' && (
                <script
                    is:inline
                    defer
                    data-domain="florian-lefebvre.dev"
                    src="/js/script.js"
                />
            )
        }
    </head>
    <body class="bg-neutral-2 text-neutral-12 dark:bg-neutralDark-4">
        <Banner />
        <Header />
        <main id="swup">
            <slot />
            <BackToTop client:load />
        </main>
        <Footer />
        <ThemeTransition client:load />
        <script src="../../assets/scripts/swup.ts"></script>
    </body>
</html>
