---
import { Icon } from '@iconify/react'
import Markdown from '../Markdown'
import { t } from 'i18next'
import AnimateOnce from '~/components/AnimateOnce'
import clsx from 'clsx'
---

<div
    class="custom-container mx-auto flex flex-col gap-16 py-24 px-4 md:flex-row-reverse md:items-center"
>
    <div class="flex-1">
        <AnimateOnce client:load direction="left">
            <h2
                class="text-center text-2xl font-light sm:text-left sm:text-4xl"
            >
                <Markdown source={t('skills.title', { ns: 'pages.about' })} />
            </h2>
        </AnimateOnce>
        <AnimateOnce client:load delay={200} direction="left">
            <p
                class="mx-auto mt-8 max-w-lg text-sm font-medium sm:ml-0 sm:text-base lg:max-w-none"
            >
                <Markdown
                    source={t('skills.description', { ns: 'pages.about' })}
                />
            </p>
        </AnimateOnce>
    </div>
    <div class="flex-1">
        <div class="mt-8 grid grid-cols-2 sm:grid-cols-4 md:grid-cols-3">
            {
                (
                    t('skills.techs', {
                        ns: 'pages.about',
                        returnObjects: true,
                    }) as { icon: string; name: string }[]
                ).map(({ icon, name }, i) => (
                    <AnimateOnce
                        client:load
                        delay={200 + 50 * i}
                        className="flex flex-col items-center justify-center p-6"
                    >
                        <div class="">
                            <Icon
                                client:load
                                className={clsx(
                                    'h-8 w-8 md:h-10 md:w-10 lg:h-12 lg:w-12',
                                    ['logos:astro-icon'].includes(icon) &&
                                        'dark:[&_path:nth-child(1)]:fill-white',
                                    ['logos:nextjs-icon'].includes(icon) &&
                                        'dark:[&_defs_linearGradient:nth-child(1)_stop]:[stop-color:#000] dark:[&_defs_linearGradient:nth-child(2)_stop]:[stop-color:#000] dark:[&_g_circle]:fill-white'
                                )}
                                icon={icon}
                            />
                        </div>
                        <div class="mt-4">{name}</div>
                    </AnimateOnce>
                ))
            }
        </div>
    </div>
</div>
