---
import Button from '../Button'
import { Icon } from '@iconify/react'
import Markdown from '../Markdown'
import { t } from 'i18next'
---

<div
    class="custom-container mx-auto flex flex-col gap-16 py-24 px-4 md:flex-row-reverse md:items-center"
>
    <div class="flex-1">
        <h2 class="text-center text-2xl font-light sm:text-left sm:text-4xl">
            <Markdown source={t('skills.title', { ns: 'pages.about' })} />
        </h2>
        <p
            class="mx-auto mt-8 max-w-lg text-sm font-medium sm:ml-0 sm:text-base lg:max-w-none"
        >
            <Markdown source={t('skills.description', { ns: 'pages.about' })} />
        </p>
    </div>
    <div class="flex-1">
        <div class="mt-8 grid grid-cols-2 sm:grid-cols-4 md:grid-cols-3">
            {
                (
                    t('skills.techs', {
                        ns: 'pages.about',
                        returnObjects: true,
                    }) as { icon: string; name: string }[]
                ).map(({ icon, name }) => (
                    <div class="flex flex-col justify-center items-center p-6">
                        <div class="">
                            <Icon
                                client:visible
                                className="h-8 w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 dark:[&_path[fill='#000']]:fill-white"
                                icon={icon}
                            />
                        </div>
                        <div class="mt-4">{name}</div>
                    </div>
                ))
            }
        </div>
    </div>
</div>
