:root {
  --hljs-comment: theme("colors.gray.500");
  --hljs-keyword: theme("colors.purple.400");
  --hljs-selector-tag: theme("colors.red.400");
  --hljs-literal: theme("colors.teal.400");
  --hljs-string: theme("colors.lime.500");
  --hljs-variable: theme("colors.amber.500");
  --hljs-function: theme("colors.blue.400");
  --hljs-class: theme("colors.yellow.400");
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: var(--hljs-keyword);
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--hljs-selector-tag);
}
.hljs-literal {
  color: var(--hljs-literal);
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--hljs-string);
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--hljs-variable);
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: var(--hljs-function);
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--hljs-class);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
