---
import Button from "~/components/Button.astro";
import Section from "~/components/Section";
import BaseLayout from "~/layouts/BaseLayout.astro";

const title = "Page not found";
const description = "Sorry, we couldn't find the page you're looking for.";
---

<BaseLayout {title} {description}>
  <Section>
    <p class="text-text text-6xl font-bold mb-4">404</p>
    <Section.Title as="h1">{title}</Section.Title>
    <p class="mt-4">
      {description}
    </p>
    <Button href="/" class="mt-12">Home</Button>
  </Section>
</BaseLayout>
