---
import { changeLanguage, setDefaultNamespace } from 'i18next'
import About from '~/components/Home/About.astro'
import Hero from '~/components/Home/Hero.astro'
import Featured from '~/components/Projects/Featured.astro'
import Layout from '../layouts/Layout.astro'

changeLanguage('en')

const pageNamespace = 'pages.index'
setDefaultNamespace(pageNamespace)
---

<Layout pageNamespace={pageNamespace}>
    <Hero />
    <div id="content">
        <About />
        <Featured />
    </div>
</Layout>
