---
import { changeLanguage, t } from "i18next";
import About from "~/components/Home/About";
import Hero from "~/components/Home/Hero";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title={t('pages.index.meta.title')}>
    {t('test')}
    <Hero />
    <div id="content">
        <About client:load />
    </div>
</Layout>
