---
import { changeLanguage, t, setDefaultNamespace } from 'i18next'
import About from '~/components/Home/About'
import Hero from '~/components/Home/Hero'
import Layout from '../layouts/Layout.astro'

const pageNamespace = 'pages.index'

changeLanguage('en')
setDefaultNamespace(pageNamespace)
---

<Layout pageNamespace={pageNamespace}>
    <Hero />
    <div id="content">
        <About client:load />
    </div>
</Layout>
