---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="">Welcome to Astro</h1>
    <p class="text-3xl">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
      magnam ea ratione, amet a dolores culpa delectus. Ducimus quas possimus
      suscipit necessitatibus vero doloribus provident similique eos non nemo
      incidunt deleniti, cum maiores, consectetur aspernatur assumenda
      accusantium quos quisquam aliquid eius velit expedita! Laboriosam, fugiat
      asperiores quos impedit quas iure nisi modi illo dolores quasi facere
      vitae porro dolorum aliquam ad autem rem, cumque expedita? Deleniti velit
      officia fuga vitae! Enim maxime magnam delectus sequi deleniti voluptates
      temporibus incidunt repellat veritatis ducimus aperiam ullam minima
      dolores, porro earum. Blanditiis placeat corrupti perferendis, possimus
      harum non. Delectus debitis explicabo ab fuga provident! Molestias
      sapiente architecto qui dolor ad odio consectetur eius excepturi, error
      repellendus. Quod aliquam pariatur, totam ex ipsam voluptate aperiam
      incidunt praesentium laborum libero dolore accusantium voluptatum itaque
      omnis earum! Et atque, architecto quibusdam repellat consectetur aliquid,
      molestias doloremque itaque neque vero adipisci laborum ad non sapiente
      voluptate beatae doloribus cum eligendi libero expedita ducimus harum
      nostrum! Tempora aspernatur, ipsam, esse deserunt pariatur ullam at magni
      recusandae minima libero autem voluptates voluptas laborum delectus
      nesciunt unde quos totam culpa explicabo sunt illum. Earum eos dolores,
      assumenda optio, perspiciatis deserunt id error adipisci sunt, cumque
      nostrum alias consequatur quis quas eaque velit aspernatur eius vel
      veritatis minima! Beatae debitis provident dolorem praesentium molestias
      voluptatibus natus in delectus! Similique et asperiores voluptate enim
      reiciendis quae neque omnis amet beatae totam tempore, perspiciatis,
      eligendi voluptas. Magni animi incidunt nihil vero ipsam voluptate, quo
      harum necessitatibus odit non quia, autem quas tenetur, hic doloribus
      placeat vitae aut. Commodi tempore ea provident dolores assumenda ullam
      facere mollitia culpa totam nobis cum qui maxime earum eveniet recusandae
      eligendi odio, ratione minima similique dolore. Sit enim totam, cum,
      similique nisi saepe laudantium repellendus omnis deserunt obcaecati
      minima. Alias aliquid inventore hic, obcaecati commodi ut deleniti, rem
      repellat exercitationem explicabo fugit dolores! Earum molestiae
      consectetur modi unde! Ullam praesentium ab nihil facilis distinctio!
      Dolorum labore culpa assumenda nam magni iure odio harum! Nam, doloribus
      facilis! Laboriosam blanditiis, nihil exercitationem non perferendis
      ratione amet temporibus eum, odio saepe cum. At velit commodi, officia
      itaque ipsa voluptatum quod, nam hic praesentium eaque deleniti accusamus
      delectus aliquid rerum possimus sed! Ea quas doloremque reiciendis dolorum
      sit rerum quidem sint incidunt vero! Consequatur dolorum rerum illum vero
      quas vitae aliquid minus necessitatibus natus nesciunt quae voluptates ad,
      dolores nostrum iure. Perferendis minus cupiditate, maiores voluptatibus
      earum minima sapiente voluptatem iure illo ipsam cum! Autem ipsam quidem
      pariatur sint laborum cum ab corporis, repudiandae dignissimos ad placeat
      nostrum dolores. Dignissimos voluptas consequatur quos inventore dicta
      velit unde neque minus, harum numquam, vel libero incidunt? Voluptatibus
      nihil ad praesentium aut? Cumque, maiores voluptas! Alias rerum
      repudiandae aperiam, adipisci expedita, quidem, aliquam explicabo deserunt
      suscipit maxime incidunt unde nam. Architecto odit culpa provident facere
      veritatis debitis autem nesciunt minima earum recusandae sapiente saepe,
      corrupti expedita eligendi tempore nostrum quos molestias error eum
      tempora voluptatem voluptatibus, dignissimos sint tenetur. Placeat
      deserunt dolor suscipit pariatur atque. Asperiores, repellendus tempore?
      Veritatis ratione voluptatum, quis quod inventore aut.
    </p>
  </main>
</Layout>
