---
import About from '~/components/Home/About'
import Hero from '~/components/Home/Hero'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Portfolio | Florian Lefebvre">
    <Hero />
    <div id="content">
        <About />
    </div>
</Layout>
