---
import { changeLanguage, setDefaultNamespace } from "i18next";
import Featured from "~/components/Projects/Featured.astro";
import Layout from "~/layouts/Layout.astro";

changeLanguage("en");

const pageNamespace = "pages.projects";
setDefaultNamespace(pageNamespace);
---

<Layout pageNamespace={pageNamespace}>
    <div>Hero</div>
    <Featured />
    <div>More projects</div>
</Layout>
