.nuxt-content {
    @apply text-teal-900;
  
    h2,
    h3 {
      @apply relative table my-8 font-semibold;

      &:hover {
        @apply cursor-pointer;
      }
  
      &::after {
        content: "";
        @apply w-4/5 block mt-2 mb-1 rounded border-2;
      }
  
      .icon-link {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 20l4-16m2 16l4-16M6 9h14M4 15h14' /%3E%3C/svg%3E");
        background-size: 1.5rem 1.5rem;
        @apply w-6 h-6 mb-2 hidden;
      }
  
      a {
        @apply mt-2 absolute top-0 right-0 -mr-6;
      }
  
      &:hover a .icon-link {
        @apply inline-block;
      }
    }
  
    h2 {
      @apply text-2xl text-teal-700;
  
      &::after {
        @apply border-teal-600 bg-teal-600;
      }
    }
  
    h3 {
      @apply text-xl text-gray-700;
  
      &::after {
        @apply border-gray-600 bg-gray-600; 
      }
    }
  
    p {
      @apply text-justify text-lg leading-7 pb-1 mb-2 font-medium text-gray-700;

      code {
        @apply bg-gray-200 px-2 py-1 rounded shadow;
      }
    }
  
    a {
      @apply text-teal-600 font-semibold;
      &:hover {
        @apply underline;
      }
    }

    blockquote {
      @apply bg-teal-200 border-l-8 border-teal-700 p-4 rounded-r-md;

      * {
        @apply text-teal-700 m-0;
      }
    }

    #silentbox-gallery {
      @apply mb-5;
    }
  
    .nuxt-content-highlight {
      @apply relative mb-5;
  
      .filename {
        @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
      }
    }
  }