<div class="bg-gradient-to-t from-bg to-bg/0 sticky bottom-0 h-24 z-10"></div>
<footer
  class="mt-auto mx-auto px-4 max-w-xl py-4 w-full border-t border-border flex items-center justify-between text-sm"
>
  <span>&copy; <span id="footer-year"></span> - Florian Lefebvre</span>
  <div class="">
    <a
      href="/legal/privacy-policy"
      class="underline transition-colors hover:text-text">Privacy policy</a
    >
    <a
      href="/legal/legal-notices"
      class="underline transition-colors hover:text-text">Legal notices</a
    >
  </div>

  <script is:inline>
    document.getElementById("footer-year").innerText = new Date().getFullYear();
  </script>
</footer>
