---
import Button from "./Button.astro";
---

<header
  class="px-4 mx-auto max-w-xl flex items-center justify-between py-2 w-full"
>
  <a href="/" class="rounded-full">
    <div class="h-10 w-10 rounded-full bg-bg-subtle border border-border"></div>
  </a>
  <div class="items-center flex space-x-2">
    <Button href="#">Articles</Button>
    <Button href="#">Contact</Button>
  </div>
</header>
