---
import { getEntry, type CollectionEntry } from "astro:content";
interface Props {
  id: CollectionEntry<"techs">["slug"];
}

const { id } = Astro.props;

const tech = await getEntry("techs", id);
const { name, href } = tech.data;
const { Content } = await tech.render();
---

<a
  {href}
  target="_blank"
  class="bg-bg-subtle border align-middle border-border px-1.5 py-0.5 select-none inline-flex items-center tech-pill hover:underline hover:text-text transition-colors underline-offset-2"
>
  <span class="mr-1">
    <Content />
  </span>
  <span class="leading-5">{name}</span>
</a>

<style is:global>
  .tech-pill svg {
    @apply h-4 w-auto;
  }
</style>
