---
interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section {id} class:list={["mx-auto px-4 max-w-xl py-16", className]}>
  <slot />
</section>
