---
import i18next from 'i18next'
import type { ArticleFrontmatter } from '~/types/mdx'
import ArticleCard from './Card.astro'
import { normalizeArticleCardProps } from '~/utils'
import { localizePath } from 'astro-i18next'
import AnimateOnce from '~/components/AnimateOnce'

const articles = await Astro.glob<ArticleFrontmatter>('../../content/**/*.mdx')
const filteredArticles = articles
    .filter(
        ({ frontmatter }) =>
            frontmatter.language === i18next.language &&
            frontmatter.type === 'article' &&
            !frontmatter.draft
    )
    .reverse()
---

<div class="custom-container grid gap-16 py-24 px-4 md:grid-cols-2">
    {
        filteredArticles.map(({ frontmatter }, i) => (
            <AnimateOnce client:load delay={200 + i * 100} className="h-full">
                <ArticleCard
                    {...normalizeArticleCardProps(frontmatter)}
                    localizedRootUrl={localizePath('/blog')}
                />
            </AnimateOnce>
        ))
    }
</div>
