---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>TEST</h1>

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
          </a>
        
          <p class="post-meta mb-3">{{ post.date | date: '%B %d, %Y' }} ·
        
            {% assign tags = post.tags | split:" " %}
            {% for tag in tags %}
            {% if forloop.first == true %}
            {% assign tag_size = tag | size | minus: 4 %}
            {% assign tag_name = tag | slice: 2, tag_size %}
            {% else %}
            {% assign tag_size = tag | size | minus: 3 %}
            {% assign tag_name = tag | slice: 1, tag_size %}
            {% endif %}
        
            <a class="mr-1" href={{ site.baseurl | append: "/posts/tags/" | append: tag_name | append: "/" }}
              rel="category tag">
              #{{ tag_name }}
            </a>
        
            {% endfor %}
        
          </p>
          {% if post.subtitle %}
          <h4 class="font-weight-normal">{{ post.subtitle }}</h4>
          {% else %}
          <h4 class="font-weight-normal">{{ post.excerpt | strip_html | truncatewords: 15 }}</h4>
          {% endif %}
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary text-white">Read article <i class="fas fa-arrow-right"></i></a>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts <i class="fas fa-arrow-right"></i></a>
        </div>

      </div>
    </div>
  </div>
