---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta mb-2">Posted
              <!--<a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>-->
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>

            <span class="meta">
              {% assign tags = page.tags | split:" " %}
              {% for tag in tags %}
              {% if forloop.first == true %}
              {% assign tag_size = tag | size | minus: 4 %}
              {% assign tag_name = tag | slice: 2, tag_size %}
              {% else %}
              {% assign tag_size = tag | size | minus: 3 %}
              {% assign tag_name = tag | slice: 1, tag_size %}
              {% endif %}

              <a class="mr-1" href={{ site.baseurl | append: "/posts/tags/" | append: tag_name | append: "/" }}
                rel="category tag">
                #{{ tag_name }}
              </a>

              {% endfor %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <a href="{{"/posts/" | relative_url }}" class="btn btn-primary text-white"><i class="fas fa-arrow-left"></i> Back to all articles</a>

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left"
            href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
            data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span
              class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>