---
import '~/assets/css/main.css'
import Banner from '~/components/Layout/Banner.astro'
import ThemeTransition from '~/components/Layout/ThemeTransition'
import i18next, { t, setDefaultNamespace } from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
import Footer from '~/components/Layout/Footer/Footer.astro'
import Header from '~/components/Layout/Header/Header.astro'
import HeadSEO from '~/components/HeadSEO.astro'
setDefaultNamespace('translation')
export interface Props {
    pageNamespace: string
}
const { pageNamespace } = Astro.props
const pageT = (key: string) => t(key, { ns: pageNamespace })
---

<!DOCTYPE html>
<html lang={i18next.language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>
            {t('titleTemplate', { ns: 'common', title: pageT('seo.title') })}
        </title>
        <HeadHrefLangs />
        <HeadSEO pageNamespace={pageNamespace} />
        <script>
            console.log('Hi there!')
            console.log('What are you looking for?')
            console.log('Just have a look at the source code ;)')
            console.log(
                'https://github.com/florian-lefebvre/portfolio/tree/v5/astro'
            )
            console.log('Built with Astro and Tailwind CSS')
            console.log('--------')
        </script>
        <script>
            ;(function () {
                try {
                    let mode = localStorage.getItem('theme')
                    let supportDarkMode =
                        window.matchMedia('(prefers-color-scheme: dark)')
                            .matches === true
                    const html = document.querySelector('html')
                    if (!mode && supportDarkMode) html?.classList.add('dark')
                    if (!mode) return
                    if (mode === 'dark') {
                        html?.classList.add('dark')
                    }
                } catch (e) {}
            })()
        </script>
    </head>
    <body class="bg-neutral-2 text-neutral-12 dark:bg-neutralDark-4">
        <Banner enabled={true} />
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <ThemeTransition client:load />
    </body>
</html>
